<h2 class='page-header'>添加书籍</h2>
<form action="/books" method='POST'>
    <%- include('_form_fields') %>
    <a class='btn btn-danger' href="/books">取消</a>
    <button class='btn btn-primary' type='submit'>添加</button>
</form>