<header>
    <nav class='header-nav'>
        <a class='header-title' href="/">线上图书馆</a>
        <ul>
            <li><a href="/books">所有书籍</a></li>
            <li><a href="/books/new">添加新书</a></li>
            <li><a href="/authors">所有作者</a></li>
            <li><a href="/authors/new">添加作者</a></li>
        </ul>
    </nav>
</header>